@page
@model WebApp.Pages_Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.StartedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.StartedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player1Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player1Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player1Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player1Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player2Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player2Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Player2Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Player2Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GameSetting)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.GameSetting!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Game?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
